<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sync-Player Controller</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>

<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Sync-Controller
        </h1>
        <a id="stoper">
            <img src="./theworld.jpg" style="max-width:100%;width:800px;height:597%;" />
        </a>
    </div>
    <div id="loger" class="container">
        <hr>
        <p>動作ログ</p>
        <textarea id="logArea">
      </textarea>
    </div>
</section>
<script src="./sync-controller.js"></script>
</body>

</html>